Server/WebContent/wsdl/GameExchangeServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.gameco.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server.gameco.com" xmlns:intf="http://server.gameco.com" xmlns:tns1="http://gameco.com" xmlns:tns2="http://network.gameco.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server.gameco.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://network.gameco.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://gameco.com"/>
   <element name="leave">
    <complexType/>
   </element>
   <element name="leaveResponse">
    <complexType/>
   </element>
   <element name="getUsers">
    <complexType/>
   </element>
   <element name="getUsersResponse">
    <complexType>
     <sequence>
      <element name="getUsersReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="logout">
    <complexType/>
   </element>
   <element name="logoutResponse">
    <complexType/>
   </element>
   <element name="cancel">
    <complexType/>
   </element>
   <element name="cancelResponse">
    <complexType/>
   </element>
   <element name="login">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="passwordhash" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element name="loginReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns2:CredentialException"/>
   <element name="getGames">
    <complexType/>
   </element>
   <element name="getGamesResponse">
    <complexType>
     <sequence>
      <element name="getGamesReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAvaibleGames">
    <complexType/>
   </element>
   <element name="getAvaibleGamesResponse">
    <complexType>
     <sequence>
      <element name="getAvaibleGamesReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="invite">
    <complexType>
     <sequence>
      <element name="game" type="xsd:string"/>
      <element maxOccurs="unbounded" name="players" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="inviteResponse">
    <complexType/>
   </element>
   <element name="setMove">
    <complexType>
     <sequence>
      <element name="move" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="setMoveResponse">
    <complexType/>
   </element>
   <element name="setMoves">
    <complexType>
     <sequence>
      <element name="moves" type="tns2:GameHistory"/>
     </sequence>
    </complexType>
   </element>
   <element name="setMovesResponse">
    <complexType/>
   </element>
   <element name="join">
    <complexType>
     <sequence>
      <element name="gameID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="joinResponse">
    <complexType/>
   </element>
   <element name="accept">
    <complexType/>
   </element>
   <element name="acceptResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://network.gameco.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://gameco.com"/>
   <import namespace="http://server.gameco.com"/>
   <complexType name="CredentialException">
    <sequence/>
   </complexType>
   <complexType name="GameHistory">
    <sequence>
     <element name="moves" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://network.gameco.com"/>
   <import namespace="http://gameco.com"/>
   <import namespace="http://server.gameco.com"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="leaveRequest">

      <wsdl:part element="impl:leave" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUsersResponse">

      <wsdl:part element="impl:getUsersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setMovesRequest">

      <wsdl:part element="impl:setMoves" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="acceptResponse">

      <wsdl:part element="impl:acceptResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getGamesResponse">

      <wsdl:part element="impl:getGamesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inviteRequest">

      <wsdl:part element="impl:invite" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inviteResponse">

      <wsdl:part element="impl:inviteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutRequest">

      <wsdl:part element="impl:logout" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="acceptRequest">

      <wsdl:part element="impl:accept" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setMoveRequest">

      <wsdl:part element="impl:setMove" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="joinRequest">

      <wsdl:part element="impl:join" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="leaveResponse">

      <wsdl:part element="impl:leaveResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="CredentialException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUsersRequest">

      <wsdl:part element="impl:getUsers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="joinResponse">

      <wsdl:part element="impl:joinResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelRequest">

      <wsdl:part element="impl:cancel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAvaibleGamesRequest">

      <wsdl:part element="impl:getAvaibleGames" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setMovesResponse">

      <wsdl:part element="impl:setMovesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setMoveResponse">

      <wsdl:part element="impl:setMoveResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutResponse">

      <wsdl:part element="impl:logoutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getGamesRequest">

      <wsdl:part element="impl:getGames" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelResponse">

      <wsdl:part element="impl:cancelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAvaibleGamesResponse">

      <wsdl:part element="impl:getAvaibleGamesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GameExchangeServiceImpl">

      <wsdl:operation name="leave">

         <wsdl:input message="impl:leaveRequest" name="leaveRequest">

       </wsdl:input>

         <wsdl:output message="impl:leaveResponse" name="leaveResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUsers">

         <wsdl:input message="impl:getUsersRequest" name="getUsersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUsersResponse" name="getUsersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdl:input message="impl:logoutRequest" name="logoutRequest">

       </wsdl:input>

         <wsdl:output message="impl:logoutResponse" name="logoutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancel">

         <wsdl:input message="impl:cancelRequest" name="cancelRequest">

       </wsdl:input>

         <wsdl:output message="impl:cancelResponse" name="cancelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

         <wsdl:fault message="impl:CredentialException" name="CredentialException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getGames">

         <wsdl:input message="impl:getGamesRequest" name="getGamesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getGamesResponse" name="getGamesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAvaibleGames">

         <wsdl:input message="impl:getAvaibleGamesRequest" name="getAvaibleGamesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAvaibleGamesResponse" name="getAvaibleGamesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="invite">

         <wsdl:input message="impl:inviteRequest" name="inviteRequest">

       </wsdl:input>

         <wsdl:output message="impl:inviteResponse" name="inviteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setMove">

         <wsdl:input message="impl:setMoveRequest" name="setMoveRequest">

       </wsdl:input>

         <wsdl:output message="impl:setMoveResponse" name="setMoveResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setMoves">

         <wsdl:input message="impl:setMovesRequest" name="setMovesRequest">

       </wsdl:input>

         <wsdl:output message="impl:setMovesResponse" name="setMovesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="join">

         <wsdl:input message="impl:joinRequest" name="joinRequest">

       </wsdl:input>

         <wsdl:output message="impl:joinResponse" name="joinResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="accept">

         <wsdl:input message="impl:acceptRequest" name="acceptRequest">

       </wsdl:input>

         <wsdl:output message="impl:acceptResponse" name="acceptResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GameExchangeServiceImplSoapBinding" type="impl:GameExchangeServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="leave">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="leaveRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="leaveResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logoutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logoutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cancelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="CredentialException">

            <wsdlsoap:fault name="CredentialException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getGames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGamesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getGamesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAvaibleGames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAvaibleGamesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAvaibleGamesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="invite">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="inviteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="inviteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setMove">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setMoveRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setMoveResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setMoves">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setMovesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setMovesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="join">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="joinRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="joinResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="accept">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="acceptRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="acceptResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GameExchangeServiceImplService">

      <wsdl:port binding="impl:GameExchangeServiceImplSoapBinding" name="GameExchangeServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/server/services/GameExchangeServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
